parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$data of static method App\\Domain\\Entities\\CategoryEntity\:\:fromArray\(\) expects array\{id\: int, code\: string, name_es\: string, name_en\: string, is_debt_category\: bool, is_active\: bool, status\?\: string\|null\}, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Domain/Entities/TransactionEntity.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: app/Domain/Entities/TransactionEntity.php

		-
			message: '#^Strict comparison using \!\=\= between float\|string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 3
			path: app/Domain/Entities/TransactionEntity.php

		-
			message: '#^Class App\\Models\\Account uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Method App\\Models\\Account\:\:balanceForPeriod\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Method App\\Models\\Account\:\:balances\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Method App\\Models\\Account\:\:scopeActive\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Method App\\Models\\Account\:\:scopeActive\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Method App\\Models\\Account\:\:scopeAssets\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Method App\\Models\\Account\:\:scopeAssets\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Method App\\Models\\Account\:\:scopeLiabilities\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Method App\\Models\\Account\:\:scopeLiabilities\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Method App\\Models\\Account\:\:transactions\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Class App\\Models\\AccountBalance uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/AccountBalance.php

		-
			message: '#^Method App\\Models\\AccountBalance\:\:account\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/AccountBalance.php

		-
			message: '#^Method App\\Models\\AccountBalance\:\:scopeForPeriod\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AccountBalance.php

		-
			message: '#^Method App\\Models\\AccountBalance\:\:scopeForPeriod\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AccountBalance.php

		-
			message: '#^Class App\\Models\\Budget uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Budget.php

		-
			message: '#^Method App\\Models\\Budget\:\:category\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Budget.php

		-
			message: '#^Method App\\Models\\Budget\:\:scopeForPeriod\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Budget.php

		-
			message: '#^Method App\\Models\\Budget\:\:scopeForPeriod\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Budget.php

		-
			message: '#^Class App\\Models\\Category uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Method App\\Models\\Category\:\:budgets\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Method App\\Models\\Category\:\:scopeActive\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Method App\\Models\\Category\:\:scopeActive\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Method App\\Models\\Category\:\:scopeDebtCategories\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Method App\\Models\\Category\:\:scopeDebtCategories\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Method App\\Models\\Category\:\:transactions\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Class App\\Models\\ExchangeRate uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ExchangeRate.php

		-
			message: '#^Class App\\Models\\FixedAsset uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/FixedAsset.php

		-
			message: '#^Method App\\Models\\FixedAsset\:\:scopeActive\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/FixedAsset.php

		-
			message: '#^Method App\\Models\\FixedAsset\:\:scopeActive\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/FixedAsset.php

		-
			message: '#^Method App\\Models\\FixedAsset\:\:valuationForPeriod\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/FixedAsset.php

		-
			message: '#^Method App\\Models\\FixedAsset\:\:valuations\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/FixedAsset.php

		-
			message: '#^Class App\\Models\\FixedAssetValuation uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/FixedAssetValuation.php

		-
			message: '#^Method App\\Models\\FixedAssetValuation\:\:fixedAsset\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/FixedAssetValuation.php

		-
			message: '#^Method App\\Models\\FixedAssetValuation\:\:scopeForPeriod\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/FixedAssetValuation.php

		-
			message: '#^Method App\\Models\\FixedAssetValuation\:\:scopeForPeriod\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/FixedAssetValuation.php

		-
			message: '#^Class App\\Models\\Income uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Income.php

		-
			message: '#^Method App\\Models\\Income\:\:scopeForPeriod\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Income.php

		-
			message: '#^Method App\\Models\\Income\:\:scopeForPeriod\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Income.php

		-
			message: '#^Class App\\Models\\Transaction uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:account\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:category\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeForAccount\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeForAccount\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeForCategory\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeForCategory\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeForCurrency\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeForCurrency\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeForPeriod\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeForPeriod\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeForQuincena\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeForQuincena\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeInterest\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeInterest\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopePrincipal\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopePrincipal\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeRecurring\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Method App\\Models\\Transaction\:\:scopeRecurring\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$code\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/TransactionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/TransactionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$is_active\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/TransactionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$is_debt_category\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/TransactionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name_en\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/TransactionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name_es\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/TransactionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/TransactionService.php

		-
			message: '#^Strict comparison using \!\=\= between float\|string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 3
			path: app/Services/TransactionService.php

		-
			message: '#^Class App\\Http\\Middleware\\VerifyCsrfToken not found\.$#'
			identifier: class.notFound
			count: 3
			path: routes/web.php
